<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aniqa.myapplication2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/van"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Linear_Relative" />
        <activity android:name=".Main4Activity4" />
        <activity android:name=".Main4Activity5" />
        <activity android:name=".IntentOnePageToAnother" />
        <activity android:name=".Welcome" />
        <activity android:name=".ActivityLifeCycle" />
        <activity android:name=".OptionMenuIntegrate" />
        <activity android:name=".BackPress" />
        <activity android:name=".AlertDailogTest" />
        <activity android:name=".TimePickerTest" />
        <activity android:name=".SeekBarTest" />
        <activity android:name=".CircularProgressBarDetermineTest" />
        <activity android:name=".TextSpinner" />
        <activity android:name=".DatePickerTest" />
        <activity android:name=".ToggleButtonTest" />
        <activity android:name=".ListViewTest" />
        <activity android:name=".CustomListView" />
        <activity android:name=".AnimationTest"></activity>
        <activity android:name=".NotificationTest" />
        <activity android:name=".TextToSpeechTest">

        </activity>
        <activity android:name=".SpeechToText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>